<% provide :title, t('blog.title') %>

<% content_for :banner do %>
  <!-- Breadcrumbs -->
  <div class="breadcrumbs">
    <div class="container">
      <ul>
        <li><%= link_to t('home_pages.title'), root_path, title: t('go_to_home') %></li><span>&raquo;</span>
        <li><%= t 'blog.title' %></li>
      </ul>
    </div>
  </div>
  <!-- Breadcrumbs End --> 
<% end %>

<% content_for :content do %>
  <div class="blog pt-4 pb-3">
    <div class="container">
      <div class="row">
        <% @blogs.each do |blog| %>
          <div class="col-sm-4 col-6">
            <div class="cards">
              <div class="card-item">
                <%= link_to blog_path(blog), title: blog.title do %>
                  <div class="card-image" style="background-image: url(<%= blog.image.url %>)">
                  </div>
                <% end %>
                <div class="card-info">
                  <%= link_to blog_path(blog), title: blog.title do %>
                    <h2 class="card-title"><%= blog.title %></h2>
                  <% end %>
                </div>
              </div>
            </div>
          </div>  
        <% end %>
      </div>
      
      
    </div>
  </div>
<% end %>
