<% provide :title, t('blog.title') %>

<% content_for :banner do %>
  <!-- Breadcrumbs -->
  <div class="breadcrumbs">
    <div class="container">
      <ul>
        <li><%= link_to t('home_pages.title'), root_path, title: t('go_to_home') %></li><span>&raquo;</span>
        <li><%= link_to t('blog.title'), blogs_path, title: t('blog.title') %></li><span>&raquo;</span>
        <li><%= @blog.title %></li>
      </ul>
    </div>
  </div>
  <!-- Breadcrumbs End --> 
<% end %>

<% content_for :content do %>
  <div class="container blog-detail">
    <div class="row">
      <div class="col-sm-8 col-12 left-side">
        <div class="text-center">
          <h1 class="article-title"><%= @blog.title %></h1>
        </div>

        <div class="content">
          <%= @blog.content.html_safe %>
        </div>
      </div>
      <div class="col-sm-4 col-12">
        <div class="right-side">
          <h4 class="text-center">Các dự án khác</h4>
          <% @blogs.each do |blog| %>
            <%= link_to blog_path(blog), title: blog.title do %>
              <div class="blog-box">
                <div class="row">
                  <div class="col-6">
                    <%= image_tag blog.image.url, alt: "blog image", class: "img-fluid" %>
                  </div>
                  <div class="col-6">
                    <p><%= blog.title %></p>              
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
