<%= form_for [:admin, @banner] do |f| %>
  <%= @banner.errors.full_messages.first if @banner.errors.any? %>
  <div class="form-group">
    <%= f.label :bannerimage %>
    <%= f.file_field :bannerimage %>
  </div>

  <%= f.submit yield(:button_text), class: "btn btn-primary" %>
  <%= link_to "Back", :back, class: "btn btn-primary" %>
<% end %>
