<% content_for :content do %>
    <div style="padding-top: 10px">
        <%= link_to "Add new banner slider", new_admin_banner_path, class: "btn btn-primary" %>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Banner image</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <% @banners.each do |banner| %>
                <tr>
                    <td><%= banner.id %></td>
                    <td><%= image_tag banner.bannerimage.url, alt: "banner", width: "300px", class: "img-fluid" %></td>
                    <td>
                      <%= link_to admin_banner_path(banner), data: { confirm: "Are you sure?" }, method: :delete, class:"btn btn-danger btn-sm" do %>
                          <span class="fa fa-trash"></span>
                          Delete
                      <% end %>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>
    
    <%= will_paginate @banners %>
<% end %>