<% provide :title, t('instruction.title') %>

<% content_for :banner do %>
  <!-- Breadcrumbs -->
  <div class="breadcrumbs">
    <div class="container">
      <ul>
        <li><%= link_to t('home_pages.title'), root_path, title: t('go_to_home') %></li><span>&raquo;</span>
        <li><%= t 'instruction.title' %></li>
      </ul>
    </div>
  </div>
  <!-- Breadcrumbs End --> 
<% end %>

<% content_for :content do %>
  <div class="instruction">
    <div class="container">
      <div class="row">
        <% @instructions.each do |instruction| %>
          <div class="col-sm-6 col-12">
            <div class="instruction-box mb-4">
              <%= link_to instruction_path(instruction) do %>
                <div class="row">
                  <div class="col-6 left">
                    <%= image_tag instruction.image.url, class: "img-fluid", alt: "image instruction" %>
                  </div>
                  <div class="col-6 right">
                    <h3 class="mb-3 mt-3"><%= instruction.title %></h3>
                    <div class="content">Chi tiết <i class="fa fa-angle-double-right"></i></div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
