<% provide :title, t('instruction.title') %>

<% content_for :banner do %>
  <!-- Breadcrumbs -->
  <div class="breadcrumbs">
    <div class="container">
      <ul>
        <li><%= link_to t('home_pages.title'), root_path, title: t('go_to_home') %></li><span>&raquo;</span>
        <li><%= link_to t('instruction.title'), instructions_path, title: t('instruction.title') %></li><span>&raquo;</span>
        <li><%= @instruction.title %></li>
      </ul>
    </div>
  </div>
  <!-- Breadcrumbs End --> 
<% end %>

<% content_for :content do %>
  <div class="instruction-detail pb-3 mt-3">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="article">
            <h2 class="title mb-3"><%= @instruction.title %></h2>
            <iframe src="https://www.youtube.com/embed/<%= @instruction.content %>" frameborder="1" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>

        <div class="col-12 mb-3">
          <div class="row text-center btn-side">
            <% if @instruction.previous_post || @instruction.next_post%>
              <div class="col-6 mt-3"><%= link_to("Bài trước", @instruction.previous_post) if @instruction.previous_post %></div>
              <div class="col-6 mt-3"><%= link_to("Bài tiếp theo", @instruction.next_post) if @instruction.next_post %></div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
