<%= form_for [:admin, @instruction] do |f| %>
  <%= @instruction.errors.full_messages.first if @instruction.errors.any? %>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, autofocus: true, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :content %>
    <%= f.text_field :content, class: "form-control", size: 60 %>
  </div>

  <div class="form-group">
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>

  <%= f.submit yield(:button_text), class: "btn btn-primary" %>
  <%= link_to "Back", :back, class: "btn btn-primary" %>
<% end %>
