<% content_for :content do %>
    <div style="padding-top: 10px">
        <%= link_to "Add new instruction", new_admin_instruction_path, class: "btn btn-primary" %>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Image</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <% @instructions.each do |instruction| %>
                <tr>
                    <td><%= instruction.id %></td>
                    <td><%= instruction.title %></td>
                    <td><%= image_tag instruction.image.url, alt: "image", width: "200px", class: "img-fluid" %></td>
                    <td>
                      <%= link_to edit_admin_instruction_path(instruction), class:"btn btn-primary btn-sm" do %>
                          <span class="fa fa-pencil"></span>
                          Edit
                      <% end %>
                      <%= link_to admin_instruction_path(instruction), data: { confirm: "Are you sure?" }, method: :delete, class:"btn btn-danger btn-sm" do %>
                          <span class="fa fa-trash"></span>
                          Delete
                      <% end %>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>
    
    <%= will_paginate @instructions %>
<% end %>