<% provide :title, t('home_pages.care') %>

<% content_for :banner do %>
	<div class="breadcrumbs">
    <div class="container">
      <ul>
        <li><%= link_to t('home_pages.title'), root_path, title: t('go_to_home') %></li><span>&raquo;</span>
        <li><%= t 'home_pages.care' %></li>
      </ul>
    </div>
  </div>
<% end %>

<% content_for :content do %>
  <div class="care-section mt-3 mb-4">
    <div class="container">
      <div class="text-center bh-top">
        <h1 class="text-uppercase font-weight-bold">Bảo hành mirai</h1>
        <p>Chúng tôi có mặt ở đây để giúp đỡ Khách hàng. 
        Việc sửa chữa được thực hiện bởi các kĩ sư am hiểu rõ về sản phẩm, 
        và sản phẩm sau bảo hành sẽ vẫn tiếp tục thời gian bảo hành như cũ. 
        Chúng tôi có thể từ chối bảo hành nếu Khách hàng tự ý sữa chữa, tháo lắp sản phẩm tại nhà, 
        gây hỏng hóc hoặc thiệt hại dẫn đến thiết bị không thể sử dụng được.</p>
        <%= image_tag "17823.jpg", alt: "bh" %>
      </div>
      <hr>
      <div class="text-center bh-bottom">
        <h1 class="text-uppercase font-weight-bold">TRÌNH TỰ BẢO HÀNH</h1>
        <p>Khi nhận thấy sản phẩm gặp trục trặc, xin vui lòng hay theo các bước dưới đây để Mirai có thể hỗ trợ các bạn được tốt nhất.</p>
        <div class="row">
          <div class="col-sm-4 col-12 mt-3">
            <%= image_tag "cold-calling-tips.jpg", alt: "cold-calling", class: "img-fluid" %>
            <p class="mt-2">Gọi điện thông báo cho Mirai về tình trạng thiết bị bạn đang gặp phải.</p>
          </div>
          <div class="col-sm-4 col-12 mt-3">
            <%= image_tag "cham-soc-khach-hang.jpg", alt: "cham-soc-khach-hang", class: "img-fluid" %>
            <p class="mt-2">Mirai hỗ trợ và hướng dẫn các thủ tục bảo hành cụ thể.</p>
          </div>
          <div class="col-sm-4 col-12 mt-3">
            <%= image_tag "bh3.jpg", alt: "bao hanh", class: "img-fluid" %>
            <p class="mt-2">Mirai sửa chữa và thông báo lại cho Khách hàng nhận lại.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

  