<% provide :title, t('home_pages.cart') %>

<% content_for :banner do %>
	<div class="breadcrumbs">
    <div class="container">
      <ul>
        <li><%= link_to t('home_pages.title'), root_path, title: t('go_to_home') %></li><span>&raquo;</span>
        <li><%= t 'home_pages.cart' %></li>
      </ul>
    </div>
  </div>
<% end %>

<% content_for :content do %>
  <div class="site-section mt-3 mb-3">
    <div class="container">
      <div class="row mb-5">
        <form class="col-md-12" method="post">
          <div class="site-blocks-table">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th class="product-thumbnail">Ảnh sản phẩm</th>
                  <th class="product-name">Tên sản phẩm</th>
                  <th class="product-price">Giá</th>
                  <th class="product-quantity">Số lượng</th>
                  <th class="product-total">Thành tiền</th>
                  <th class="product-remove"></th>
                </tr>
              </thead>
              <tbody class="show-cart">

              </tbody>
            </table>
          </div>
        </form>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="row mb-5">
            <div class="col-md-6 mb-3 mb-md-0">
              <button class="clear-cart btn btn-danger btn-sm btn-block">Xoá giỏ hàng</button>
            </div>
            <div class="col-md-6">
              <a href="<%= root_path %>" class="btn btn-outline-primary btn-sm btn-block">Quay lại trang chủ</a>
            </div>
          </div>
        </div>
        <div class="col-md-6 pl-5">
          <div class="row justify-content-end">
            <div class="col-md-7">
              <div class="row">
                <div class="col-md-12 text-right border-bottom mb-3">
                  <h3 class="text-black h4 text-uppercase">Tổng giá trị giỏ hàng</h3>
                </div>
              </div>
              <div class="row mb-5">
                <div class="col-6">
                  <span class="text-black">Tổng cộng</span>
                </div>
                <div class="col-6 text-right">
                  <strong class="text-black total-cart"></strong>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <button class="btn btn-primary btn-md btn-block" data-toggle="modal" data-target="#modelId">Gửi thanh toán</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Modal -->
  <div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Điền thông tin của quý khách</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label>Họ và tên (bắt buộc)</label>
            <input type="text" id="name" class="form-control" placeholder="" required>
          </div>
          <div class="form-group">
            <label>Số điện thoại (bắt buộc)</label>
            <input type="text" id="phone" class="form-control" placeholder="" required>
          </div>
          <div class="form-group">
            <label>Địa chỉ (bắt buộc)</label>
            <input type="text" id="address" class="form-control" placeholder="" required>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
          <button type="button" class="btn btn-primary" id="order-btn">Gửi</button>
        </div>
      </div>
    </div>
  </div>
<% end %>

  