<% provide :title, t('home_pages.title') %>

<% content_for :banner do %>
<ul id="slidy">
  <% @banners.each do |banner| %>
    <li><%= image_tag banner.bannerimage.url, alt: "banner image" %></li>
  <% end %>
</ul>
<% end %>

<% content_for :content do %>
  <div class="homepage pb-5">
    <div class="container">
      <div class="video-list mt-4">
        <h1 class="mb-3">
          <%= t 'home_pages.video' %>
          <div class="line"></div>
        </h1>
        <div class="fp-slider-items">
          <% @videos.each do |video| %>
            <div class="fp-slider-wrapper">
              <%= link_to video.youtube_link, class: "popup-youtube", title: video.youtube_link do %>
                <i class="fa fa-play-circle"></i>
                <div class="fp-img">
                  <img src="<%= video.image %>" alt="<%= video.youtube_link %>" />
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>

      <div class="product-list mt-4">
        <h1 class="mb-3">
          <%= t 'home_pages.our_product' %>
          <div class="line"></div>
        </h1>
        <% @tab_categories.each do |category| %>
          <div class="position-relative mb-3">
            <%= link_to category_path(category), title: category.title do %>
              <%= image_tag category.homepage_banner.url, alt: "product" %>
              <div class="txt-area text-right">
                <p><%= category.title %></p>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>

      <div class="blog-list mt-4">
        <h1 class="mb-3">
          <%= link_to t('home_pages.project'), blogs_path %>
          <div class="line"></div>
        </h1>
        <div class="project">
          <% @blogs.each do |blog| %>
            <div class="cards">
              <div class="card-item">
                <%= link_to blog_path(blog), title: blog.title do %>
                  <div class="card-image" style="background-image: url(<%= blog.image.url %>)">
                  </div>
                <% end %>
                <div class="card-info">
                  <%= link_to blog_path(blog), title: blog.title do %>
                    <h2 class="card-title"><%= blog.title %></h2>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>

      <div class="map-area mt-4">
        <h1 class="mb-3">
          <%= t 'home_pages.contact_us' %>
          <div class="line"></div>
        </h1>
        <div class="row">
          <div class="col-sm-7 col-12 left">
            <iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAuyCTxV70JLvIZphVjVKjoQtbnAolLdW4
            &q=N1504-The+One+Residence+Gamuda+garden" allowfullscreen frameborder="0" style="border:0"></iframe>
          </div>
          <div class="col-sm-5 col-12 right">
            <div class="detail">
              <div class="element mb-2">
                <i class="fa fa-location-arrow" aria-hidden="true"></i>
                <span class="ml-2">N1504-The One Residence Gamuda garden</span>
              </div>
              <div class="element mb-2">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <span class="ml-2">Mr Thành / <%= link_to "0969.625.479", "tel:+84969625479", title: t('contact.call_us') %></span>
              </div>
              <div class="element mb-2">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <span class="ml-2"><a href="mailto:miraiviet@gmail.com" title="miraiviet@gmail.com">miraiviet@gmail.com</a></span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="bao-hanh mt-5">
        <div class="container content">
          <%= link_to care_path() do %>
            <div class="row">
              <div class="col-sm-4 col-7">
                <%= image_tag "bao-hanh.png", class: "img-fluid" %>
              </div>
              <div class="col-sm-7 col-11 bh-address">
                <p>Số 17 ngõ 14 Đường Tả Thanh Oai, Hà Nội</p>
                <p>C507, RES III, Tân Phú, Quận 7, Hồ Chí Minh</p>
              </div>
              <div class="col-1 bh-icon">
                <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
