<div class="thankyou-section">
  <div class="container text-center mt-5">
    <i class="fa fa-check-circle-o check-icon mb-3" aria-hidden="true"></i>
    <h1 class="mb-3">Cảm ơn bạn đã mua hàng tại MiraiViet!!</h1>
    <p>Yêu cầu của bạn đã được gửi đi, chúng tôi sẽ giao hàng đến cho bạn trong thời gian sớm nhất</p>
    <%= link_to root_path do %>
      <i class="fa fa-long-arrow-left" aria-hidden="true"></i> Quay lại trang chủ
    <% end %>
  </div>
</div>
