<% provide :title, t('log_in') %>

<% content_for :banner do %>
  <!-- Breadcrumbs -->
  <div class="breadcrumbs">
    <div class="container">
      <ul>
        <li><%= link_to t('home_pages.title'), root_path, title: t('go_to_home') %></li><span>&raquo;</span>
        <li><%= t 'log_in' %></li>
      </ul>
    </div>
  </div>
  <!-- Breadcrumbs End --> 
<% end %>

<% content_for :content do %>
<div style="min-height: 70vh">
  <div class="container mt-3 mb-4">
    <h1 class="mb-3"><%= t 'welcome_back' %></h1>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="form-group">
        <label><%= t('email') %></label>
        <%= f.email_field :email, autofocus: true, required: true %>
      </div>
      <div class="form-group">
        <label><%= t('password') %></label>
        <%= f.password_field :password, required: true %>
      </div>

      <%= f.submit t('log_in'), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
<% end %>
