<p>You got a new order!</p>
<p>===============================================</p>
<p>
<p>1. Customer information</p>
<ul>
  <li>Name: <%= @payload['name'] %></li>
  <li>Phone: <%= @payload['phone'] %></li>
  <li>Address: <%= @payload['address'] %></li>
</ul>
<p>2. Order details<br>
--------------------------
</p>
<table class="table">
  <thead>
    <tr>
      <th>STT</th>
      <th>Name</th>
      <th>Quality</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <% @payload['carts'].each do |key, value| %>
      <tr>
        <td><%= key %></td>
        <td><%= value['name'] %></td>
        <td><%= value['count'] %></td>
        <td><%= value['price'] %> VND</td>
      </tr>
    <% end %>
  </tbody>
</table>
<p>
--------------------------
</p>
