You got a new order!
===============================================
Customer information
- Name: <%= @payload['name'] %>
- Phone: <%= @payload['phone'] %>
- Address: <%= @payload['address'] %>
Order Details:
--------------------------
<%= @payload['carts'].each do |key, value| %>
  Name: <%= value['name'] %>
  Quality: <%= value['count'] %>
  Price: <%= value['price'] %>
<% end %>
--------------------------
