<%= form_for [:admin, @category] do |f| %>
  <%= @category.errors.full_messages.first if @category.errors.any? %>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, autofocus: true, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :homepage_banner %>
    <%= f.file_field :homepage_banner %>
  </div>

  <%= f.submit yield(:button_text), class: "btn btn-primary" %>
  <%= link_to "Back", :back, class: "btn btn-primary" %>
<% end %>
