<% content_for :content do %>
    <div style="padding-top: 10px">
        <%= link_to "Add new category", new_admin_category_path, class: "btn btn-primary" %>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Homepage banner</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <% @categories.each do |category| %>
                <tr>
                    <td><%= category.id %></td>
                    <td><%= category.title %></td>
                    <td><%= image_tag category.homepage_banner.url, alt: "homepage banner", width: "200px", class: "img-fluid" %></td>
                    <td>
                      <%= link_to edit_admin_category_path(category), class:"btn btn-primary btn-sm" do %>
                          <span class="fa fa-pencil"></span>
                          Edit
                      <% end %>
                      <%= link_to admin_category_path(category), data: { confirm: "Are you sure?" }, method: :delete, class:"btn btn-danger btn-sm" do %>
                          <span class="fa fa-trash"></span>
                          Delete
                      <% end %>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>
    
    <%= will_paginate @categories %>
<% end %>