<%= form_for [:admin, @product] do |f| %>
  <%= @product.errors.full_messages.first if @product.errors.any? %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, autofocus: true, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, class: "editor form-control", rows: 10 %>
  </div>

  <div class="form-group">
    <%= f.label :information %>
    <%= f.text_area :information, class: "editor form-control", rows: 20 %>
  </div>

  <div class="form-group">
    <%= f.label :price %>
    <%= f.number_field :price, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :images %>
    <%= f.file_field :images, multiple: true %>
  </div>

  <div class="form-group">
    <%= f.label :sale_off_price %>
    <%= f.number_field :sale_off, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label "expired_date (Nếu có sale off thì phải nhập ngày hết hạn)" %>
    <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
      <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker1"/>
      <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
          <div class="input-group-text"><i class="fa fa-calendar"></i></div>
      </div>
    </div>
  </div>

  <% if @product.persisted? %>

    <div class="form-group">
      <%= f.label :category %>
      <%= f.select :category_id, options_for_select(Category.all.map{ |c| [c.title, c.id] }, selected_key = f.object.category_id) %>
    </div>

  <% else %>

    <div class="form-group">
      <%= f.label :category %>
      <%= f.select :category_id, Category.all.map { |category| [category.title, category.id] }, :prompt => 'Select One' %>
    </div>

  <% end %>
  
  <%= f.submit yield(:button_text), class: "btn btn-primary" %>
  <%= link_to "Back", :back, class: "btn btn-primary" %>
<% end %>

<%= tinymce :alternate %>
