<% content_for :content do %>
    <div style="padding-top: 10px">
        <%= link_to "Add new product", new_admin_product_path, class: "btn btn-primary" %>
    </div>
    <div style="padding-top: 10px">
        <p>Categories Filter</p>
        <form>
            <select name="cate_id">
              <option value="0">--None--</option>
              <% Category.all.each do |category| %>
                <% if @category && @category.id == category.id %>
                  <option value="<%= category.id %>" selected><%= category.title %></option>
                <% else %>
                  <option value="<%= category.id %>"><%= category.title %></option>
                <% end %>
              <% end %>
            </select>
            <input type="submit">
        </form>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Categories</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <% @products.each do |product| %>
                <tr>
                    <td><%= product.id %></td>
                    <td><%= product.name %></td>
                    <td><%= product.category.title %></td>
                    <td>
                      <%= link_to admin_product_path(product), class:"btn btn-primary btn-sm" do %>
                          <span class="fa fa-eye"></span>
                          Show
                      <% end %>
                      <%= link_to edit_admin_product_path(product), class:"btn btn-primary btn-sm" do %>
                          <span class="fa fa-pencil"></span>
                          Edit
                      <% end %>
                      <%= link_to admin_product_path(product), data: { confirm: "Are you sure?" }, method: :delete, class:"btn btn-danger btn-sm" do %>
                          <span class="fa fa-trash"></span>
                          Delete
                      <% end %>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>
    
    <%= will_paginate @products %>
<% end %>