<% content_for :content do %>
  <p><strong>Name: </strong></p>
  <%= @product.name %>
  <br /><br />

  <p><strong>Description: </strong></p>
  <%= @product.description.html_safe %>
  <br /><br />

  <p><strong>Information: </strong></p>
  <%= @product.information.html_safe %>
  <br /><br />

  <p><strong>Price: </strong></p>
  <%= number_to_currency @product.price %>
  <br /><br />

  <p><strong>Images: </strong></p>
  <% @product.images.each do |image| %>
    <%= image_tag image.url, height: "220px" %>
  <% end %>
  <br /><br />

<% end %>
