@import "bootstrap";
@import "font-awesome";
@import "tempusdominus-bootstrap-4";

.logout {
  margin-left: 20px;
  margin-top: 8px;
}
#message {
  position: fixed;
  top: 10%;
  left: 80%;
  width: 200px;
  z-index: 9999;
}
#inner-message {
  margin: 0 auto;
}
