// Extra small screen / phone
$screen-xs-min: 480px;

// Small screen / tablet
$screen-sm-min: 768px;

// Medium screen / desktop
$screen-md-min: 992px;

// Large screen / wide desktop
$screen-lg-min: 1200px;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max: ($screen-sm-min - 1);
$screen-sm-max: ($screen-md-min - 1);
$screen-md-max: ($screen-lg-min - 1);

$hover: #fda30e;
$heading: #252525;
$border: #e5e5e5;
$main-color: #6394f8;
$light-text: #abb0be;
$add-cart-btn: #fda30e;

@mixin respondTo($media) {
  @if $media == "xs" {
    @media only screen and (max-width: $screen-xs-max) {
      @content;
    }
  } @else if $media == "sm" {
    @media only screen and (max-width: $screen-sm-max) and (min-width: $screen-sm-min) {
      @content;
    }
  } @else if $media == "md" {
    @media only screen and (max-width: $screen-md-max) and (min-width: $screen-md-min) {
      @content;
    }
  } @else if $media == "lg" {
    @media only screen and (min-width: $screen-lg-min) {
      @content;
    }
  }
}
@mixin respondToAbove($media) {
  @if $media == "xs" {
    @media only screen and (min-width: $screen-xs-max) {
      @content;
    }
  } @else if $media == "sm" {
    @media only screen and (min-width: $screen-sm-min) {
      @content;
    }
  } @else if $media == "md" {
    @media only screen and (min-width: $screen-md-min) {
      @content;
    }
  } @else if $media == "lg" {
    @media only screen and (min-width: $screen-lg-min) {
      @content;
    }
  }
}
@mixin respondToBelow($media) {
  @if $media == "xs" {
    @media only screen and (max-width: $screen-xs-max) {
      @content;
    }
  } @else if $media == "sm" {
    @media only screen and (max-width: $screen-sm-max) {
      @content;
    }
  } @else if $media == "md" {
    @media only screen and (max-width: $screen-md-max) {
      @content;
    }
  } @else if $media == "lg" {
    @media only screen {
      @content;
    }
  }
}
@mixin respondToTablet {
  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    @content;
  }
}
@mixin respondToSmall-n-Medium {
  @media (min-width: $screen-sm-min) and (max-width: $screen-md-max) {
    @content;
  }
}
@mixin respondToMobile() {
  @include respondTo(xs) {
    @content;
  }
}
@mixin respondToDesktop() {
  @include respondToAbove(md) {
    @content;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.website {
  margin: 0;
  font-size: 100%;
  font-family: "Montserrat", sans-serif;
  background: #f9f7f1;

  a {
    text-decoration: none;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
  }
  a:hover {
    text-decoration: none;
  }
  input[type="button"],
  input[type="submit"] {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }
  p {
    margin: 0;
  }
  ul {
    margin: 0;
    padding: 0;
  }
  label {
    margin: 0;
  }

  @include respondTo(xs) {
    h1 {
      font-size: 30px;
    }
  }

  .badge-warning {
    background-color: #fda30e;
  }
  .line {
    height: 2px;
    width: 100px;
    margin-top: 5px;
    background-color: #ef7a00;
  }
  .zero-price {
    font-weight: 600;
    text-transform: uppercase;
    color: red;
  }
  /******************************************
	Navbar
******************************************/
  .header-area {
    position: relative;
    z-index: 10;
    width: 100%;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    background-color: #fff;

    .cart-icon {
      position: relative;
      font-size: 16px;
      color: #515783;
      margin-right: 7px;
      float: left;
      margin-left: 3rem;
      margin-top: 1.5rem;

      @include respondToBelow(sm) {
        margin-left: 0;
        padding: 0 10px;
      }
      a {
        color: #515783;
        font-size: 24px;
        &:focus,
        &:hover {
          color: $hover;
        }
      }
      .badge {
        position: absolute;
        top: 0;
        right: -10px;
        font-size: 13px;
        color: #fff;
        border-radius: 50%;
        @include respondToBelow(sm) {
          right: 0;
        }
      }
    }

    // shopping card dropdown
    .shopping-cart {
      margin: 20px 0;
      background: white;
      width: 300px;
      position: absolute;
      border-radius: 3px;
      padding: 20px;
      right: -20px;
      top: 35px;
      box-shadow: 0 2px 40px 8px rgba(15, 15, 15, 0.15);
      display: none;

      @include respondToBelow(sm) {
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        padding: 0;
        box-shadow: none;
      }

      .shopping-cart-items {
        li {
          margin-bottom: 18px;
        }

        img {
          float: left;
          margin-right: 12px;
        }

        .item-name {
          display: table;
          padding-top: 10px;
          font-size: 15px;
        }

        .item-price {
          color: $main-color;
          margin-right: 8px;
        }

        .item-quantity {
          color: $light-text;
        }
      }
    }

    .shopping-cart:after {
      bottom: 100%;
      left: 89%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-bottom-color: white;
      border-width: 8px;
      margin-left: -8px;
    }

    .button {
      background: $main-color;
      color: white !important;
      text-align: center;
      padding: 6px;
      text-decoration: none;
      display: block;
      border-radius: 3px;
      font-size: 16px !important;
      margin: 25px 0 0 0;
      width: 70%;
      margin: auto;

      &:hover {
        background: lighten($main-color, 3%);
      }
    }
    .clearfix:after {
      content: "";
      display: table;
      clear: both;
    }
    @media (min-width: 992px) {
      .cart-icon {
        margin-top: 0 !important;
      }
    }
  }

  /* classynav */
  .classy-nav-container {
    background-color: transparent;
    padding: 0;
    border-bottom: 1px solid #e6e6e6;

    .classy-navbar {
      -webkit-transition-duration: 500ms;
      transition-duration: 500ms;
      height: 100px;
      padding: 0;

      @include respondTo(md) {
        height: 70px;
      }

      @include respondTo(xs) {
        height: 70px;
      }

      .nav-brand {
        @include respondTo(xs) {
          max-width: 90px;
          margin-right: 15px;
        }
      }

      .classynav ul li {
        a {
          font-size: 16px;
          text-transform: capitalize;
          color: $heading;

          @include respondTo(lg) {
            font-size: 14px;
          }

          @include respondTo(md) {
            font-size: 14px;
          }

          @include respondTo(xs) {
            font-size: 14px;
          }

          &:focus,
          &:hover {
            color: $hover;
          }
        }

        &.cn-dropdown-item,
        &.megamenu-item {
          ul li {
            a {
              font-size: 14px;
              text-transform: capitalize;
              height: 42px;
              line-height: 42px;
              padding: 0 30px;
              color: $heading;

              &:focus,
              &:hover {
                color: $hover;
              }
            }
          }
        }
      }
    }
  }

  .classynav ul li {
    &.active {
      a {
        position: relative;
        z-index: 1;

        &::before {
          width: 80%;
          height: 2px;
          background-color: $hover;
          position: absolute;
          bottom: 0;
          left: 10%;
          z-index: 1;
          content: "";

          @include respondToBelow(sm) {
            display: none;
          }
        }
      }
    }
  }

  .classynav ul li.has-down > a::after,
  .classynav ul li.has-down.active > a::after,
  .classynav ul li.megamenu-item > a::after {
    color: $heading;
  }

  .breakpoint-off .classynav ul li .dropdown,
  .breakpoint-off .classynav ul li .megamenu {
    width: 300px;
    box-shadow: 0 2px 40px 8px rgba(15, 15, 15, 0.15);
    border-radius: 6px;
  }

  .breakpoint-off .classynav ul li .megamenu {
    width: 100%;
  }

  /******************************************
	Footer
******************************************/
  .footer {
    padding: 20px 0;
    background: rgb(237, 236, 237);
  }
  .sign-gd h4,
  .sign-gd-two h4 {
    color: #000;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 25px;
  }
  .sign-gd ul li,
  .sign-gd-two ul li {
    color: #848484;
    line-height: 2em;
    font-size: 14px;
    list-style-type: none;
  }
  .sign-gd ul li a,
  .sign-gd-two ul li a {
    color: #848484;
    text-decoration: none;
  }
  .sign-gd ul li a:hover,
  .sign-gd-two ul li a:hover {
    color: $hover;
  }
  .sign-gd-two ul li i {
    color: #999;
    border: 1px solid #999;
    padding: 0.5em;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -o-border-radius: 100%;
    -ms-border-radius: 100%;
    margin-right: 1em;
  }
  .sign-gd-two ul li {
    margin-bottom: 10px;
  }
  /*-- //footer --*/

  /******************************************
	Home page
******************************************/
  .blog-list {
    .slick-slide {
      margin: 0 15px;
    }
    .slick-list {
      margin: 0 -15px;
    }
    h1 a {
      color: #212529;
    }
    .cards {
      .card-item {
        background-color: #fff;
        border-radius: 10px;
        border: 1px solid #e6e6e6;
        overflow: hidden;
        transition: transform 0.5s;
        -webkit-transition: transform 0.5s;

        &:hover {
          cursor: pointer;
          .card-image {
            opacity: 1;
          }
        }
      }

      // Content
      .card-info {
        padding: 10px 9px;
        h2 {
          font-weight: 700;
        }
      }

      .card-title {
        font-size: 22px;
        color: #32325d;
        height: 80px;
      }

      // Images
      .card-image {
        height: 200px;
        overflow: hidden;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 6px 6px 0px 0px;
        opacity: 0.91;
      }

      @include respondTo(xs) {
        .card-image {
          height: 135px;
        }
        .card-title {
          font-size: 17px;
          height: 70px;
        }
      }
    }
  }
  .homepage {
    h1 {
      margin: 0;
      font-size: 25px;
    }
    .video-list {
      .slick-slide {
        margin: 0 15px;
      }
      .slick-list {
        margin: 0 -15px;
      }
    }
    .product-list {
      img {
        width: 100%;
      }
      .txt-area {
        padding: 5px 15px;
        position: absolute;
        top: 0;
        background: #fff;
        color: #000;
        opacity: 0.75;
        p {
          font-size: 30px;
        }
      }
      @include respondTo(xs) {
        .txt-area {
          padding: 5px 10px;
          p {
            font-size: 17px;
          }
        }
      }
      @include respondTo(sm) {
        .txt-area {
          padding: 5px 10px;
          bottom: 13%;
          p {
            font-size: 25px;
          }
        }
      }
    }

    .map-area {
      a {
        color: #000;
        &:hover {
          color: #ef7a00;
        }
      }
      .left {
        padding-right: 0;
        iframe {
          width: 100%;
          height: 100%;
        }
      }
      .right {
        padding-left: 0;
        .detail {
          background: #fff;
          padding: 50px 30px;
          border: 1px solid #e6e6e6;
          i {
            border: 1px solid grey;
            padding: 10px;
            border-radius: 50%;
          }
        }
      }
      @include respondTo(xs) {
        .left {
          padding: 0;
        }
        .right {
          padding: 0;
          .detail {
            padding: 25px 20px;
          }
        }
      }
    }

    .content {
      border: 1px solid #e6e6e6;
      background-color: #fff;
      padding: 0 10px;
      box-shadow: 0px 10px 1px #ddd, 0 10px 20px #ccc;
      border-radius: 10px;
      img {
        width: 300px;
      }
      p {
        font-size: 19px;
        font-weight: 700;
        color: #000;
      }
      .bh-icon,
      .bh-address {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      @include respondToBelow(sm) {
        p {
          font-size: 15px;
        }
      }
      @include respondTo(xs) {
        .col-7,
        .col-11 {
          padding: 0;
        }
      }
    }
  }

  /******************************************
	Product detail
******************************************/
  .product-detail {
    h1 {
      font-weight: 600;
    }
    .product-intro {
      background-color: #fff;
      border: 1px solid #e6e6e6;
      padding: 10px 15px 15px;
      .expired {
        color: #fff;
        background-color: #5cb85c;
        padding: 5px 12px;
        border-radius: 50px;
        font-size: 12px;
        font-weight: bold;
      }
      .description {
        margin: 1.5em 0;
        h5 {
          color: #989898;
          font-size: 16px;
          margin-bottom: 12px;
        }
        .item_price {
          color: red;
          font-size: 23px;
          margin: 0.5em 0 1em;
          font-weight: 600;
        }
        del {
          color: #a7a7a7;
          margin-left: 10px;
        }
      }
      .function p {
        font-size: 16px;
        color: #999;
        line-height: 1.8em;
      }
      @include respondToBelow(xs) {
        .col-12 {
          margin: 0;
          padding: 0;
        }
      }
    }
  }
  .add-cart-btn {
    padding: 10px 15px;
    display: inline-block;
    color: #000;
    background-color: #fff;
    font-weight: 400;
    text-transform: uppercase;
    -webkit-box-shadow: 0px 0px 0px 2px #000, 2px 2px 0px 2px $add-cart-btn;
    box-shadow: 0px 0px 0px 2px #000, 2px 2px 0px 2px $add-cart-btn;
    text-decoration: none;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
    &:hover {
      background-color: $add-cart-btn;
      -webkit-box-shadow: 0px 0px 0px 0px #000, 0px 0px 0px 2px $add-cart-btn;
      box-shadow: 0px 0px 0px 0px #000, 0px 0px 0px 2px $add-cart-btn;
      border: none;
    }
    @include respondToBelow(xs) {
      font-size: 10px;
      padding: 10px 10px;
    }
  }
  @media (max-width: 991px) {
    .sign-gd,
    .sign-gd-two {
      float: left;
      width: 33.333%;
      padding: 0 10px;
    }
    .products-left {
      float: none;
      width: 100%;
      padding: 0;
    }
  }
  @media (max-width: 800px) {
    .sign-gd h4,
    .sign-gd-two h4 {
      font-size: 19px;
    }
  }
  @media (max-width: 767px) {
    .nav > li > a {
      display: inline-block;
    }
    .footer {
      padding: 20px 0;
    }
  }
  @media (max-width: 667px) {
    .row {
      margin-right: 0;
      margin-left: 0;
    }
    .sign-gd {
      width: 28%;
    }
    .sign-gd-two {
      width: 44%;
    }
    .login-right {
      margin-top: 30px;
    }
    h3.tittle {
      margin: 0px 0 34px;
    }
  }
  @media (max-width: 640px) {
    .sign-gd ul li,
    .sign-gd-two ul li {
      font-size: 13px;
    }
    h3.tittle {
      font-size: 25px;
    }
  }
  @media (max-width: 480px) {
    .sign-gd {
      width: 100%;
    }
    .sign-gd-two {
      width: 100%;
    }
    .sign-gd-two {
      width: 100%;
      margin: 20px 0;
    }
  }
  @media (max-width: 384px) {
    .sign-gd-two ul li i {
      margin-right: 0.5em;
    }
  }
  @media (max-width: 320px) {
    .sign-gd h4,
    .sign-gd-two h4 {
      margin-bottom: 13px;
    }
    .sign-gd,
    .sign-gd-two {
      width: 100%;
      padding: 0;
    }
    .footer {
      padding: 20px 0;
    }
  }

  /******************************************
	Message
******************************************/
  .notice {
    position: fixed;
    top: 10%;
    right: 5%;
    width: 200px;
    z-index: 9999;
  }
  #inner-message {
    margin: 0 auto;
  }

  /******************************************
	Pagination
******************************************/
  .flickr_pagination {
    padding: 0.3em;
    cursor: default;
  }
  .flickr_pagination a,
  .flickr_pagination span,
  .flickr_pagination em {
    padding: 0.2em 0.5em;
  }
  .flickr_pagination .disabled {
    color: #aaaaaa;
  }
  .flickr_pagination .current {
    font-style: normal;
    font-weight: bold;
    color: #fda30e;
  }
  .flickr_pagination a {
    border: 1px solid #dddddd;
    color: #0063dc;
    text-decoration: none;
  }
  .flickr_pagination a:hover,
  .flickr_pagination a:focus {
    border-color: #fda30e;
    background: #fda30e;
    color: white;
  }
  .flickr_pagination .page_info {
    color: #aaaaaa;
    padding-top: 0.8em;
  }
  .flickr_pagination .previous_page,
  .flickr_pagination .next_page {
    border-width: 2px;
  }
  .flickr_pagination .previous_page {
    margin-right: 1em;
  }
  .flickr_pagination .next_page {
    margin-left: 1em;
  }

  /******************************************
	Breadcrumb
******************************************/
  .breadcrumbs {
    padding: 6px 0px;
    margin: auto;
    font-size: 11px;
  }
  .breadcrumbs a {
    color: #ef7a00;
    text-decoration: underline;
  }
  .breadcrumbs span {
    display: inline-block;
    margin: 0 5px 0 5px;
    color: #666;
    font-size: 13px;
  }
  .breadcrumbs ul {
    margin: 0px;
    padding: 0px;
  }
  .breadcrumbs ul li {
    list-style-type: none;
    display: inline;
  }
  // end breadcrumb

  .bx-wrapper {
    border: none;
    margin: 0 auto !important;
    max-width: 1550px !important;
    img {
      width: 100%;
    }
    .bx-controls-direction a {
      z-index: 0;
    }
  }

  /******************************************
	Slider product detail
******************************************/
  $light-grey: #e6e6e6;

  .gallery-slider {
    position: relative;
    overflow: hidden;

    // __images
    &__images {
      margin: 0;
      position: relative;
      .item {
        padding: 0;
        .img-fill {
          text-align: center;
          padding: 10px;
          height: 200px;
          @media screen and (min-width: 576px) {
            height: 300px;
          }
          @media screen and (min-width: 720px) {
            height: 450px;
          }

          img {
            display: inline-block;
            position: relative;
            max-width: 100%;
            max-height: 100%;
            top: 50%;
            transform: translateY(-50%);
          }
        }
      }
      .next-arrow,
      .prev-arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 47px;
        height: 47px;
        border-radius: 50%;
        background: rgba(0, 0, 0, 0.7);
        border: 0 none;
        text-align: center;
        color: #fff;
        z-index: 5;
        opacity: 0;
        transition: all 0.5s;
        outline: 0;
        svg {
          top: 4px;
        }
      }
      .next-arrow {
        right: 25px;
      }
      .prev-arrow {
        left: 25px;
      }
      &:hover .next-arrow,
      &:hover .prev-arrow {
        opacity: 1;
      }
      .caption {
        width: 100%;
        position: relative;
        text-align: center;
        display: block;
        opacity: 1;
        transition: opacity 0.15s;
        &.hide {
          opacity: 0;
        }
      }
    }

    // __thumbnails
    &__thumbnails {
      position: relative;
      top: auto;
      left: 0px;
      width: 100%;
      z-index: 4;
      transition: all 0.8s;
      margin: 0;
      padding: 13px 0;
      &:before,
      &:after {
        content: "";
        display: block;
        width: 100px;
        height: 100%;
        position: absolute;
        top: 0;
        z-index: 10;
        pointer-events: none;
      }
      &:before {
        left: 0;
        background: linear-gradient(
          to right,
          rgba($light-grey, 1) 0%,
          rgba($light-grey, 0) 100%
        );
      }
      &:after {
        right: 0;
        background: linear-gradient(
          to right,
          rgba($light-grey, 0) 0%,
          rgba($light-grey, 1) 100%
        );
      }
      .item {
        .img-fill {
          height: 70px;
          background: white;
          cursor: pointer;
          border: 5px solid white;
          text-align: center;
          img {
            opacity: 0.5;
            transition: all 0.5s;

            display: inline-block;
            position: relative;
            max-width: 100%;
            max-height: 100%;
            top: 50%;
            transform: translateY(-50%);
          }
        }
        &:hover .img-fill img {
          opacity: 1;
        }
        &.slick-center {
          img {
            opacity: 1;
          }
        }
      }
      .next-arrow,
      .prev-arrow {
        position: absolute;
        width: 40px;
        height: 40px;
        top: 50%;
        transform: translateY(-50%);
        background: rgba(0, 0, 0, 0.6);
        color: #fff;
        border: 0 none;
        z-index: 15;
        svg {
          top: 2px;
        }
      }
      .next-arrow {
        right: 0px;
      }
      .prev-arrow {
        left: 0px;
      }
    }

    // generic arrows
    .next-arrow,
    .prev-arrow {
      cursor: pointer;
      svg {
        width: 18px;
        height: 18px;
        position: relative;
      }
    }

    // image fills
    .img-fill {
      width: 100%;
      display: block;
      overflow: hidden;
      position: relative;
      text-align: center;
    }

    // slick overrides
    .slick-slider {
      margin: 0 -7.5px;
      padding: 0 !important;
    }
    .slick-slide {
      float: left;
      padding: 0 7.5px;
      outline: none;
    }
  }

  /******************************************
	Call me button
******************************************/
  #callme {
    position: fixed;
    left: 10px;
    bottom: 15px;
    width: 70px;
    height: 70px;
    cursor: pointer;
    opacity: 0.75;
    z-index: 100;
  }
  .phonenum {
    position: absolute;
    background-color: #cf0808;
    color: whitesmoke;
    margin: 15px 0px;
    padding: 10px 18px;
    font-size: 14px;
    font-weight: 800;
    left: 50px;
    border-radius: 10px;
  }
  #callme #callmeMain {
    -moz-border-radius: 50% !important;
    -webkit-border-radius: 50% !important;
    border-radius: 50% !important;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background-color: rgb(207, 8, 8);
    width: 70px;
    height: 70px;
    -webkit-animation: zcwmini2 1.5s 0s ease-out infinite;
    -moz-animation: zcwmini2 1.5s 0s ease-out infinite;
    animation: zcwmini2 1.5s 0s ease-out infinite;
  }
  #callme #callmeMain:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url(https://ss.zadarma.com/callbackWidget/images/mini.png);
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-animation: zcwphone2 1.5s linear infinite;
    -moz-animation: zcwphone2 1.5s linear infinite;
    animation: zcwphone2 1.5s linear infinite;
  }
  @-webkit-keyframes zcwphone {
    0% {
      -ms-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    25% {
      -ms-transform: rotate(30deg);
      -webkit-transform: rotate(30deg);
      transform: rotate(30deg);
    }
    50% {
      -ms-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    75% {
      -ms-transform: rotate(-30deg);
      -webkit-transform: rotate(-30deg);
      transform: rotate(-30deg);
    }
    100% {
      -ms-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
  }
  @-moz-keyframes zcwphone {
    0% {
      -ms-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    25% {
      -ms-transform: rotate(30deg);
      -webkit-transform: rotate(30deg);
      transform: rotate(30deg);
    }
    50% {
      -ms-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    75% {
      -ms-transform: rotate(-30deg);
      -webkit-transform: rotate(-30deg);
      transform: rotate(-30deg);
    }
    100% {
      -ms-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
  }
  @keyframes zcwphone {
    0% {
      -ms-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    25% {
      -ms-transform: rotate(30deg);
      -webkit-transform: rotate(30deg);
      transform: rotate(30deg);
    }
    50% {
      -ms-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    75% {
      -ms-transform: rotate(-30deg);
      -webkit-transform: rotate(-30deg);
      transform: rotate(-30deg);
    }
    100% {
      -ms-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
  }
  @-webkit-keyframes zcwphone2 {
    0% {
      -ms-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    25% {
      -ms-transform: rotate(30deg);
      -webkit-transform: rotate(30deg);
      transform: rotate(30deg);
    }
    50% {
      -ms-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    75% {
      -ms-transform: rotate(-30deg);
      -webkit-transform: rotate(-30deg);
      transform: rotate(-30deg);
    }
    100% {
      -ms-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
  }
  @-moz-keyframes zcwphone2 {
    0% {
      -ms-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    25% {
      -ms-transform: rotate(30deg);
      -webkit-transform: rotate(30deg);
      transform: rotate(30deg);
    }
    50% {
      -ms-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    75% {
      -ms-transform: rotate(-30deg);
      -webkit-transform: rotate(-30deg);
      transform: rotate(-30deg);
    }
    100% {
      -ms-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
  }
  @keyframes zcwphone2 {
    0% {
      -ms-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    25% {
      -ms-transform: rotate(30deg);
      -webkit-transform: rotate(30deg);
      transform: rotate(30deg);
    }
    50% {
      -ms-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    75% {
      -ms-transform: rotate(-30deg);
      -webkit-transform: rotate(-30deg);
      transform: rotate(-30deg);
    }
    100% {
      -ms-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
  }
  @-webkit-keyframes zcwmini {
    0% {
      box-shadow: 0 0 8px 6px rgba(207, 8, 8, 0), 0 0 0 0 rgba(0, 0, 0, 0),
        0 0 0 0 rgba(207, 8, 8, 0);
    }
    10% {
      box-shadow: 0 0 8px 6px, 0 0 12px 10px rgba(0, 0, 0, 0), 0 0 12px 14px;
    }
    100% {
      box-shadow: 0 0 8px 6px rgba(207, 8, 8, 0), 0 0 0 40px rgba(0, 0, 0, 0),
        0 0 0 40px rgba(207, 8, 8, 0);
    }
  }
  @-moz-keyframes zcwmini {
    0% {
      box-shadow: 0 0 8px 6px rgba(207, 8, 8, 0), 0 0 0 0 rgba(0, 0, 0, 0),
        0 0 0 0 rgba(207, 8, 8, 0);
    }
    10% {
      box-shadow: 0 0 8px 6px, 0 0 12px 10px rgba(0, 0, 0, 0), 0 0 12px 14px;
    }
    100% {
      box-shadow: 0 0 8px 6px rgba(207, 8, 8, 0), 0 0 0 40px rgba(0, 0, 0, 0),
        0 0 0 40px rgba(207, 8, 8, 0);
    }
  }
  @keyframes zcwmini {
    0% {
      box-shadow: 0 0 8px 6px rgba(207, 8, 8, 0), 0 0 0 0 rgba(0, 0, 0, 0),
        0 0 0 0 rgba(207, 8, 8, 0);
    }
    10% {
      box-shadow: 0 0 8px 6px, 0 0 12px 10px rgba(0, 0, 0, 0), 0 0 12px 14px;
    }
    100% {
      box-shadow: 0 0 8px 6px rgba(207, 8, 8, 0), 0 0 0 40px rgba(0, 0, 0, 0),
        0 0 0 40px rgba(207, 8, 8, 0);
    }
  }
  @-webkit-keyframes zcwmini2 {
    0% {
      box-shadow: 0 0 8px 6px rgba(207, 8, 8, 0), 0 0 0 0 rgba(0, 0, 0, 0),
        0 0 0 0 rgba(207, 8, 8, 0);
    }
    10% {
      box-shadow: 0 0 8px 6px, 0 0 12px 10px rgba(0, 0, 0, 0), 0 0 12px 14px;
    }
    100% {
      box-shadow: 0 0 8px 6px rgba(207, 8, 8, 0), 0 0 0 40px rgba(0, 0, 0, 0),
        0 0 0 40px rgba(207, 8, 8, 0);
    }
  }
  @-moz-keyframes zcwmini2 {
    0% {
      box-shadow: 0 0 8px 6px rgba(207, 8, 8, 0), 0 0 0 0 rgba(0, 0, 0, 0),
        0 0 0 0 rgba(207, 8, 8, 0);
    }
    10% {
      box-shadow: 0 0 8px 6px, 0 0 12px 10px rgba(0, 0, 0, 0), 0 0 12px 14px;
    }
    100% {
      box-shadow: 0 0 8px 6px rgba(207, 8, 8, 0), 0 0 0 40px rgba(0, 0, 0, 0),
        0 0 0 40px rgba(207, 8, 8, 0);
    }
  }
  @keyframes zcwmini2 {
    0% {
      box-shadow: 0 0 8px 6px rgba(207, 8, 8, 0), 0 0 0 0 rgba(0, 0, 0, 0),
        0 0 0 0 rgba(207, 8, 8, 0);
    }
    10% {
      box-shadow: 0 0 8px 6px, 0 0 12px 10px rgba(0, 0, 0, 0), 0 0 12px 14px;
    }
    100% {
      box-shadow: 0 0 8px 6px rgba(207, 8, 8, 0), 0 0 0 40px rgba(0, 0, 0, 0),
        0 0 0 40px rgba(207, 8, 8, 0);
    }
  }

  /******************************************
	Project-blog card design
******************************************/
  // Colors
  $dark-blue: #32325d;
  $gray: #f8f8f8;

  .blog {
    min-height: 70vh;
    color: $dark-blue;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;

    // Cards
    .cards {
      margin-bottom: 30px;
      width: 100%;

      .card-item {
        background-color: #fff;
        width: 100%;
        border-radius: 6px;
        box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
        overflow: hidden;
        transition: transform 0.5s;
        -webkit-transition: transform 0.5s;

        &:hover {
          cursor: pointer;
          transform: scale(1.1);
          -webkit-transform: scale(1.1);
          .card-image {
            opacity: 1;
          }
        }
      }

      // Content
      .card-info {
        padding: 13px 8px;
        h2 {
          font-weight: 700;
        }
      }

      .card-title {
        font-size: 25px;
        line-height: 1.1em;
        color: #32325d;
        margin-bottom: 0.2em;
      }

      // Images
      .card-image {
        height: 200px;
        overflow: hidden;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 6px 6px 0px 0px;
        opacity: 0.91;
      }
    }

    @include respondTo(xs) {
      .cards .card-image {
        height: 145px;
      }
      .cards .card-title {
        font-size: 17px;
      }
      .container {
        padding: 0;
      }
    }
  }

  /******************************************
	Project-blog detail
******************************************/
  /* Article */
  .blog-detail {
    padding: 10px;
    .right-side {
      background: #fff;
      border: 1px solid grey;
      padding: 10px;
      h4 {
        margin-bottom: 10px;
      }
      .blog-box {
        padding: 10px 0;
        border-bottom: 1px dotted cornflowerblue;
        img {
          width: 100%;
          height: 100px;
        }
        p {
          color: #000;
          margin-top: 10px;
        }
      }
    }
    .left-side {
      .content {
        font-size: 15px;
        margin: 15px 0 20px 0;
      }
    }
  }

  .instruction {
    padding: 20px 0;
    min-height: 70vh;
    @include respondToBelow(xs) {
      .col-12 {
        padding: 0;
      }
      .instruction {
        height: auto;
      }
    }
    .instruction-box {
      background: #fff;
      border: 1px solid #e6e6e6;
      -webkit-box-shadow: 0 10px 6px -6px #777;
      -moz-box-shadow: 0 10px 6px -6px #777;
      box-shadow: 0 10px 6px -6px #777;
      &:hover {
        cursor: pointer;
      }
      .left {
        padding-right: 0;
      }
      .right {
        h3 {
          color: #000;
          font-size: 25px;
        }
        .content {
          font-size: 13px;
          color: #848484;
          &:hover {
            text-decoration: underline;
          }
        }

        @include respondToBelow(md) {
          h3 {
            font-size: 18px;
          }
        }
      }
    }
  }
  .instruction-detail {
    .article iframe {
      width: 100%;
      height: 500px;
    }

    .btn-side {
      a {
        color: #fff;
        background: dimgrey;
        padding: 12px;
        border-radius: 10px;
        &:hover {
          cursor: pointer;
          background-color: #fda30e;
        }
      }
    }
    @include respondTo(xs) {
      .col-12 {
        padding: 0;
      }
      .title {
        font-size: 20px;
      }
      .article iframe {
        height: 300px;
      }
    }
  }

  /******************************************
	Slick slider video at homepage
******************************************/
  .fp-wrapper {
    text-align: center;
    padding: 0;
  }

  .fp-slider-wrapper {
    padding: 10px 0;
    cursor: pointer;
    .popup-youtube {
      display: flex;
      justify-content: center;
      i {
        position: absolute;
        font-size: 80px;
        top: 35%;
        z-index: 50;
        color: black;
      }
      @include respondToBelow(sm) {
        i {
          top: 30%;
        }
      }
    }
    &:hover .popup-youtube i {
      color: $hover;
    }
  }

  .slick-dots {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 5px 0;
    list-style-type: none;

    li {
      margin: 0 0.25rem;
    }

    button {
      display: block;
      width: 10px;
      height: 10px;
      padding: 0;
      background-color: white;
      border: 1px solid black !important;
      border: none;
      border-radius: 100%;
      text-indent: -9999px;
    }

    li.slick-active button {
      border: 1px solid #fda30e;
      background-color: #fda30e;
    }
  }

  .fp-img {
    position: relative;
    img {
      display: inline-block;
      width: 100%;
      height: 330px;
    }
    @include respondTo(sm) {
      img {
        height: 250px;
      }
    }
    @include respondTo(xs) {
      img {
        height: 230px;
      }
    }
  }

  .slick-track * {
    outline: none;
  }

  /*--------------------------------------------------------------
  Product display categories
--------------------------------------------------------------*/
  .category-page {
    min-height: 70vh;
    @include respondTo(xs) {
      .no-padding {
        padding: 0;
      }
    }
    .main-area {
      img {
        display: block;
        border: 1px solid #e6e6e6;
        width: 100%;
        height: 300px;
      }
      .card {
        background: none;
        border: none;
        // height: 670px;
        a {
          color: black;
          text-decoration: none;
        }
        .sale {
          position: absolute;
          display: inline-block;
          background: orange;
          font-size: 12px;
          top: 0;
          right: 20px;
          color: white;
          height: 2.5rem;
          width: 2.5rem;
          text-align: center;
          vertical-align: middle;
          line-height: 2.5rem;
          -webkit-transform: rotate(-20deg);
          transform: rotate(-20deg);
          -webkit-animation: beat 1s ease infinite alternate;
          animation: beat 1s ease infinite alternate;
          &:before,
          &:after {
            content: "";
            position: absolute;
            background: inherit;
            height: inherit;
            width: inherit;
            top: 0;
            left: 0;
            z-index: -1;
            transform: rotate(30deg);
          }
          &:after {
            transform: rotate(60deg);
          }
        }

        @keyframes beat {
          from {
            transform: rotate(-20deg) scale(1);
          }
          to {
            transform: rotate(-20deg) scale(1.1);
          }
        }
        .card-content {
          padding: 10px 0;
          h2 {
            clear: both;
            font-size: 23px;
            margin-top: 0;
            margin-bottom: 0.5em;
            height: 85px;
            overflow: hidden;
          }
          p {
            font-size: 28px;
            margin-bottom: 4px;
            color: red;
            font-weight: 600;
          }
          del {
            font-size: 15px;
            color: #989898;
          }
          .add-cart-btn {
            width: 100%;
          }
        }
        @media only screen and (max-width: 320px) {
          img {
            height: 145px !important;
          }
          .card-content {
            p {
              font-size: 13px !important;
            }
            del {
              font-size: 6px !important;
            }
          }
          .add-cart-btn {
            font-size: 9px;
            padding: 7px 6px;
          }
        }
        @include respondTo(xs) {
          img {
            height: 190px;
          }
          .card-content {
            h2 {
              font-size: 16px;
              height: 60px;
            }
            p {
              font-size: 18px;
            }
            del {
              font-size: 9px;
            }
          }
        }
        @include respondTo(sm) {
          img {
            height: 250px;
          }
          .card-content {
            h2 {
              font-size: 20px;
            }
            p {
              font-size: 23px;
            }
            del {
              font-size: 12px;
            }
          }
        }
        @include respondTo(md) {
          img {
            height: 250px;
          }
          .card-content {
            h2 {
              font-size: 20px;
            }
            p {
              font-size: 24px;
            }
            del {
              font-size: 12px;
            }
          }
        }
      }
    }
  }

  /******************************************
	Preloader
******************************************/
  $loader--width: 250px;
  $loader-dot--size: 20px;

  #loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 9999999;
    text-align: center;
    .loader {
      height: 20px;
      width: 250px;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
    }
    .loader--dot {
      animation-name: loader;
      animation-timing-function: ease-in-out;
      animation-duration: 3s;
      animation-iteration-count: infinite;
      height: 20px;
      width: 20px;
      border-radius: 100%;
      background-color: black;
      position: absolute;
      border: 2px solid white;
    }
    .loader--dot:first-child {
      background-color: #8cc759;
      animation-delay: 0.5s;
    }
    .loader--dot:nth-child(2) {
      background-color: #8c6daf;
      animation-delay: 0.4s;
    }
    .loader--dot:nth-child(3) {
      background-color: #ef5d74;
      animation-delay: 0.3s;
    }
    .loader--dot:nth-child(4) {
      background-color: #f9a74b;
      animation-delay: 0.2s;
    }
    .loader--dot:nth-child(5) {
      background-color: #60beeb;
      animation-delay: 0.1s;
    }
    .loader--dot:nth-child(6) {
      background-color: #fbef5a;
      animation-delay: 0s;
    }
    .loader--text {
      position: absolute;
      top: 200%;
      left: 0;
      right: 0;
      width: 4rem;
      margin: auto;
    }
    .loader--text:after {
      content: "Loading";
      font-weight: bold;
      animation-name: loading-text;
      animation-duration: 3s;
      animation-iteration-count: infinite;
    }

    @keyframes loader {
      15% {
        transform: translateX(0);
      }
      45% {
        transform: translateX(230px);
      }
      65% {
        transform: translateX(230px);
      }
      95% {
        transform: translateX(0);
      }
    }
    @keyframes loading-text {
      0% {
        content: "Loading";
      }
      25% {
        content: "Loading.";
      }
      50% {
        content: "Loading..";
      }
      75% {
        content: "Loading...";
      }
    }
  }
  // .preloader {
  //   top: 35%;
  //   position: relative;
  // }
  /******************************************
	Cart page
******************************************/
  .site-section.site-section-sm {
    padding: 4em 0;
  }

  .site-section-heading {
    font-size: 30px;
    color: #25262a;
    position: relative;
  }
  .site-section-heading:before {
    content: "";
    left: 0%;
    top: 0;
    position: absolute;
    width: 40px;
    height: 2px;
    background: #ee4266;
  }
  .site-section-heading.text-center:before {
    content: "";
    left: 50%;
    top: 0;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    position: absolute;
    width: 40px;
    height: 2px;
    background: #ee4266;
  }
  .site-blocks-table {
    overflow: auto;
  }
  .site-blocks-table .product-thumbnail {
    width: 200px;
  }
  .site-blocks-table thead th {
    padding: 30px;
    text-align: center;
    border-width: 1px !important;
    vertical-align: middle;
    color: #212529;
    font-size: 18px;
  }
  .site-blocks-table td {
    padding: 20px;
    text-align: center;
    vertical-align: middle;
    color: #212529;
  }
  .site-blocks-table tbody tr:first-child td {
    border-top: 1px solid #ee4266 !important;
  }
  .site-blocks-table tbody .input-quality {
    max-width: 120px;

    @include respondToBelow(md) {
      min-width: 100px;
    }
  }

  /******************************************
	Care section
******************************************/
  .care-section {
    .bh-top {
      width: 75%;
      margin: 0 auto;
      img {
        width: 500px;
        margin-top: 8px;
      }
    }
    @include respondTo(xs) {
      .bh-top {
        width: 100%;
      }
    }
    hr {
      background-color: #000;
    }
  }
}

.special {
  .thankyou-section {
    .check-icon {
      font-size: 100px !important;
      color: limegreen;
    }
    h1 {
      font-size: 50px;
      font-weight: 800;
    }
    p {
      font-size: 25px;
      font-weight: 200;
    }
  }
}
