<% provide :title, t('category.title') %>

<% content_for :banner do %>
  <!-- Breadcrumbs -->
  <div class="breadcrumbs">
    <div class="container">
      <ul>
        <li><%= link_to t('home_pages.title'), root_path, title: t('go_to_home') %></li><span>&raquo;</span>
        <li><%= @category.title %></li>
      </ul>
    </div>
  </div>
  <!-- Breadcrumbs End --> 
<% end %>

<% content_for :content do %>
<div class="category-page">
  <div class="container">
    <h1 class="font-weight-bold mb-3 mt-3"><%= @category.products.size %> sản phẩm</h1>
  </div>
  <div class="container no-padding">
    <div class="main-area">
      <% if @products_of_category.length > 0 %>
        <div class="row">
          <% @products_of_category.each do |product| %>
            <div class="col-lg-3 col-sm-4 col-6 card">
              <%= link_to product_path(product), title: product.name do %>
                <img src="<%= product.images[0].url %>" alt="Product image">
                <div class="card-content">
                  <h2 class="mt-3"><%= product.name %></h2>
                  <% if product.get_saleoff_price != 0 %>
                    <p>
                      <%= number_to_currency product.get_saleoff_price %>
                    </p>
                  <% else %>
                    <p class="zero-price">Liên hệ</p>
                  <% end %>
                  <div class="mt-2 mb-4">
                    <button 
                      class="btn btn-primary btn-sm add-cart-btn"
                      data-name="<%= product.name %>"
                      data-price="<%= product.get_saleoff_price %>"
                      data-image="<%= product.images[0].url %>">
                        Thêm vào giỏ hàng
                    </button>
                  </div>
                </div><!-- .card-content -->
              <% end %>
              <% if product.sale_off > 0 %><span class="sale">SALE</span><% end %>
            </div><!-- .card -->
          <% end %>
        </div>
      <% else %>
        <h2><%= t 'information_not_found' %></h2>
      <% end %>

      <div class="text-right">
        <ul class="flickr_pagination">
          <%= will_paginate @products_of_category %>
        </ul>
      </div>
    </div>
  </div>
</div>
<% end %>
