<% content_for :content do %>
   
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Is Admin</th>
                <th>Address</th>
                <th>Phone number</th>
            </tr>
        </thead>
        <tbody>
            <% @users.each do |user| %>
                <tr>
                    <td><%= user.id %></td>
                    <td><%= user.name %></td>
                    <td><%= user.email %></td>
                    <td><%= user.is_admin.to_s %></td>
                    <td><%= user.address %></td>
                    <td><%= user.phone_number %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
    
    <%= will_paginate @users %>
<% end %>