<%= form_for [:admin, @blog] do |f| %>
  <%= @blog.errors.full_messages.first if @blog.errors.any? %>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, autofocus: true, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :desc %>
    <%= f.text_area :desc, class: "form-control", rows: 5 %>
  </div>

  <div class="form-group">
    <%= f.label :content %>
    <%= f.text_area :content, class: "editor form-control", rows: 20 %>
  </div>

  <div class="form-group">
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>

  <%= f.submit yield(:button_text), class: "btn btn-primary" %>
  <%= link_to "Back", :back, class: "btn btn-primary" %>
<% end %>

<%= tinymce :alternate %>
