<% content_for :content do %>
    <div style="padding-top: 10px">
        <%= link_to "Add new blog", new_admin_blog_path, class: "btn btn-primary" %>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <% @blogs.each do |blog| %>
                <tr>
                    <td><%= blog.id %></td>
                    <td><%= blog.title %></td>
                    <td>
                      <%= link_to edit_admin_blog_path(blog), class:"btn btn-primary btn-sm" do %>
                          <span class="fa fa-pencil"></span>
                          Edit
                      <% end %>
                      <%= link_to admin_blog_path(blog), data: { confirm: "Are you sure?" }, method: :delete, class:"btn btn-danger btn-sm" do %>
                          <span class="fa fa-trash"></span>
                          Delete
                      <% end %>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>
    
    <%= will_paginate @blogs %>
<% end %>