<%= form_for [:admin, @video] do |f| %>
  <%= @video.errors.full_messages.first if @video.errors.any? %>

  <div class="form-group">
    <%= f.label :youtube_link %>
    <%= f.text_field :youtube_link, size: 60 %>
  </div>

  <div class="form-group">
    <%= f.label :image_cover %>
    <%= f.file_field :image %>
  </div>

  <%= f.submit yield(:button_text), class: "btn btn-primary" %>
  <%= link_to "Back", :back, class: "btn btn-primary" %>
<% end %>
