<% content_for :content do %>
    <div style="padding-top: 10px">
        <%= link_to "Add new video", new_admin_video_path, class: "btn btn-primary" %>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Youtube link</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <% @videos.each do |video| %>
                <tr>
                    <td><%= video.id %></td>
                    <td><%= link_to video.youtube_link, video.youtube_link %></td>
                    <td>
                        <%= link_to edit_admin_video_path(video), class:"btn btn-primary btn-sm" do %>
                          <span class="fa fa-pencil"></span>
                          Edit
                      <% end %>
                      <%= link_to admin_video_path(video), data: { confirm: "Are you sure?" }, method: :delete, class:"btn btn-danger btn-sm" do %>
                          <span class="fa fa-trash"></span>
                          Delete
                      <% end %>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>
    
    <%= will_paginate @videos %>
<% end %>