<!-- footer -->
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4 sign-gd">
        <h4><%= t 'home_pages.footer.menu' %></h4>
        <ul>
          <li><%= link_to t('home_pages.title'), root_path, title: t('go_to_home') %></li>
          <li><%= link_to t('home_pages.our_project'), blogs_path, title: t('home_pages.our_project') %></li>
          <li><%= link_to t('home_pages.instruction'), instructions_path, title: t('home_pages.instruction') %></li>
        </ul>
      </div>

      <div class="col-md-4 sign-gd-two">
        <h4><%= t 'home_pages.footer.store_infor' %></h4>
        <ul>
          <li>
            <span class="font-weight-bold">Văn phòng đại diện / trưng bày sản phẩm mẫu</span>: N1504-The One Residence Gamuda garden
          </li>
          <li>
            <span class="font-weight-bold">Email</span>: <a href="mailto:miraiviet@gmail.com">miraiviet@gmail.com</a>
          </li>
          <li>
            <span class="font-weight-bold">Hotline</span>: <a href="tel:+84 969625479">0969.625.479</a>
          </li>
        </ul>
      </div>

      <div class="col-md-4 sign-gd-two">
        <h4><%= t 'home_pages.footer.fanpage' %></h4>
        <ul>
          <li> 
          <%= link_to "https://www.facebook.com/miraiviet/", title: t('fb') do %>
            <i class="fa fa-facebook-official" aria-hidden="true"></i>
            Smart toilet Mirai
          <% end %>
          </li>
        </ul>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</footer>
<!-- //footer -->
