<% flash.each do |message_type, message| %>
    <div id="message">
      <div style="padding: 5px;">
        <% if message_type != "danger" && message_type != "sucess" %>
          <div id="inner-message" class="alert alert-info">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <%= message %>
          </div>
        <% else %>
          <div id="inner-message" class="alert alert-<%= message_type %>">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <% if message_type == "danger"%>
            <span class="fa fa-exclamation" aria-hidden="true"></span>
            <% else %>
            <span class="fa fa-check-circle" aria-hidden="true"></span>
            <% end %>
            <%= message %>
          </div>
        <% end %>
      </div>
    </div>
<% end %>
