<header class="header-area">
  <!-- Main Header Start -->
  <div class="main-header-area">
    <div class="classy-nav-container breakpoint-off">
      <div class="container">
          <!-- Classy Menu -->
          <nav class="classy-navbar justify-content-between" id="akameNav">

            <!-- Logo -->
            <a class="nav-brand" href="<%= root_path %>"><img src="https://res.cloudinary.com/wind/image/upload/v1564769158/logo1.png" alt="logo"></a>

            <!-- Navbar Toggler -->
            <div class="classy-navbar-toggler">
                <span class="navbarToggler"><span></span><span></span><span></span></span>
            </div>

            <!-- Menu -->
            <div class="classy-menu">
              <!-- Menu Close Button -->
              <div class="classycloseIcon">
                  <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
              </div>
              <!-- Nav Start -->
              <div class="classynav">
                <ul id="nav">
                  <li class="<%= active_class(root_path) %>">
                    <%= link_to t('home_pages.title'), root_path, title: t('go_to_home') %>
                  </li>
                  <li><a href="#"><%= t 'category.title' %> <i class="fa fa-chevron-down"></i></a>
                      <ul class="dropdown">
                        <% Category.all.each do |category| %>
                          <li><%= link_to category.title, category_path(category), title: category.title %></li>
                        <% end %>
                      </ul>
                  </li>
                  <li class="<%= active_class(blogs_path) %>"><%= link_to t('home_pages.our_project'), blogs_path, title: t('home_pages.our_project') %></li>
                  <li class="<%= active_class(instructions_path) %>"><%= link_to t('home_pages.instruction'), instructions_path, title: t('home_pages.instruction') %></li>
                  <li class="<%= active_class(care_path) %>"><%= link_to t('home_pages.care'), care_path, title: t('home_pages.care') %></li>
                </ul>

                <!-- Cart Icon -->
                <div class="cart-icon">
                  <a href="#" id="cart"><i class="fa fa-shopping-bag"></i> <span class="badge badge-warning total-count"></span></a>

                  <div class="shopping-cart row">
                    <ul class="shopping-cart-items">

                    </ul>

                    <a href="<%= cart_path %>" class="button">Checkout</a>
                  </div> 
                </div>

              </div>
              <!-- Nav End -->
            </div>
          </nav>
      </div>
    </div>
  </div>
</header>