<!DOCTYPE html>
<html>
  <head>
    <title>Mirai</title>
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="description" content="Smart toilet Miraiviet">
    <meta name="keywords" content="Miraiviet, Smart toilet">
    <meta name="author" content="Tung Lam">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'admin', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'admin', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
      <%= link_to "ADMIN", admin_root_path, class: "navbar-brand" %>
      <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
          aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <%= link_to "Dashboard", admin_root_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Products", admin_products_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Categories", admin_categories_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Users", admin_users_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Banners", admin_banners_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Videos", admin_videos_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Blogs", admin_blogs_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Instructions", admin_instructions_path, class: "nav-link" %>
          </li>
          <li class="nav-item logout">
            <%= link_to destroy_user_session_path, method: :delete do %>
              <i class="fa fa-sign-out"></i>Logout
            <% end %>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container mb-5">
      <%= yield :content %>
    </div>
    <!-- Bootstrap Core JavaScript -->
    <%= render "layouts/message"%>
  </body>
</html>
