<!DOCTYPE html>
<html>
  <head>
    <title>Miraiviet - <%= yield :title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
    <meta name="description" content="Nắp bồn cầu thông minh Nhật Bản với tính năng rửa tự động nước ấm, làm ấm bệt ngồi, sấy, massage giúp cuộc sống trở nên tiện lợi hơn bao giờ hết.">
    <meta name="keywords" content="Miraiviet, Smart toilet, khóa thông minh, Nhật Bản, nắp bồn cầu thông minh, nắp bồn cầu">
    <meta name="author" content="Tung Lam">
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script>
      !function(f,b,e,v,n,t,s)
      {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};
      if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
      n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t,s)}(window,document,'script',
      'https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '1163099587183478'); 
      fbq('track', 'PageView');
    </script>

    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-806236185"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'AW-806236185');
    </script>

    <script src="//harafunnel.com/widget/2026425307662507.js" async="async"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-141230589-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-141230589-2');
    </script>
  </head>

  <body class="website">
    <div id="callme">
      <a href="tel:+84969625479" title="<%= t('contact.call_us') %>">
        <div id="callmeMain"></div>
      </a>
    </div>
    <div id="loader-wrapper">
      <div class="loader">
        <div class="loader--dot"></div>
        <div class="loader--dot"></div>
        <div class="loader--dot"></div>
        <div class="loader--dot"></div>
        <div class="loader--dot"></div>
        <div class="loader--dot"></div>
        <div class="loader--text"></div>
      </div>
    </div>
    <%= render "layouts/navbar" %>
    <%= yield :banner %>
    <%= yield :content %>
    <%= render "layouts/footer" %>

    <div class="notice">
      <%=render "layouts/message.html.erb"%>
    </div>
    
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
